<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Flask Endpoint API Calls</h1>
    <button id="pauseButton">Pause</button>
    <div id="pauseResult"></div>

    <button id="resumeButton">Resume</button>
    <div id="resumeResult"></div>    

    <button id="previousButton">Previous</button>
    <div id="previousResult"></div>    

    <button id="nextButton">Next</button>
    <div id="nextResult"></div>
    
    <button id="currentTrackButton">Current Track</button>
    <div id="currentTrackResult"></div>  

    <button id="addSongToQueueButton">Add Song To Queue</button>
    <div id="addSongToQueueResult"></div>  

    <button id="get50TopArtistsButton">get50TopArtists</button>
    <div id="get50TopArtistsResult"></div>

    <button id="get50TopTracksButton">get50TopTracks</button>
    <div id="get50TopTracksResult"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>
</html>

